<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="API_Security.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <httpRuntime/>
    <identity impersonate="false"/>
    <authentication mode="Windows"/>
  </system.web>
  <system.webServer>
    <handlers>
      <add verb="*" path="*" name="AsyncAuthenticationHandler" type="API_Security.AsyncAuthenticationHandler"/>
    </handlers>
    <httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By"/>
        <remove name="X-AspNet-Version"/>
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <applicationSettings>
    <API_Security.Properties.Settings>
      <setting name="PayloadBytesToAuthenticate" serializeAs="String">
        <value>1024</value>
      </setting>
      <setting name="MaxTimeout" serializeAs="String">
        <value>5000</value>
      </setting>
      <setting name="IsTimeoutVerificationEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ResponseDataExpirationTimeInMinutes" serializeAs="String">
        <value>30</value>
      </setting>
    </API_Security.Properties.Settings>
  </applicationSettings>
</configuration>