<?xml version="1.0" encoding="UTF-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
        <identity impersonate="false" />
      <webServices>
        <protocols>
          <add name="HttpGet" />
          <add name="HttpPost" />
        </protocols>
      </webServices>
        <authentication mode="Windows" />
    </system.web>
    <system.webServer>
      <modules>
        <add name="AuthenticationModule" type="SAPIA_NET_Server_SDK.AuthenticationModule, SAPIA_NET_Server_SDK"/>
      </modules>
      <httpProtocol>
        <customHeaders>
          <remove name="X-Powered-By" />
          <remove name="X-AspNet-Version" />
        </customHeaders>
      </httpProtocol>
    </system.webServer>
</configuration>
