<?xml version="1.0" encoding="UTF-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
        <identity impersonate="false" />
    </system.web>
    <system.webServer>
      <handlers>
        <add verb="*" path="*" name="AsyncAuthenticationHandler" type="SAPIA_NET_Server_SDK.AsyncAuthenticationHandler, SAPIA_NET_Server_SDK" />
      </handlers>
      <httpProtocol>
        <customHeaders>
          <remove name="X-Powered-By" />
          <remove name="X-AspNet-Version" />
        </customHeaders>
      </httpProtocol>
    </system.webServer>
</configuration>
